.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.start-page
{
  background: #d9a7c7;
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
  background: linear-gradient(to right, #fffcdc, #d9a7c7);
  border: 20px double white;
}

.title-header
{
  font-family: 'Cinzel Decorative', cursive;
}

.chara-card-img
{
  width: 500px;
  height: 500px;
}

.info-page
{
  background: #CC95C0;
  background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);
  background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);
}

.chara-btns
{
  margin: auto;
}

.chara-nav
{
  padding: 60px 50px;
  position: fixed;
  top: 0px;
}

.chara-nav-img
{
  width: 55%;
  height: 55%;
}