.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.start-page
{
  background: #d9a7c7;
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
  background: linear-gradient(to right, #fffcdc, #d9a7c7);
  border: 20px double white;
}

.title-header
{
  font-family: 'Cinzel Decorative', cursive;
}

.chara-card-img
{
  width: 500px;
  height: 500px;
  /*border-top-left-radius: 50%;
  border-top-right-radius: 50%;*/
}

.start-page
{
  background: #2193b0;
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
  background: linear-gradient(to right, #6dd5ed, #2193b0);
}

.info-page
{
  background: #C6FFDD;
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
  position: absolute;
  width: 100%;
  height: 100%;
}

.chara-btns
{
  margin: auto;
}

.chara-nav
{
  padding: 60px 50px;
  position: fixed;
  top: 0px;
}

.chara-nav-img
{
  width: 55%;
  height: 55%;
  border-radius: 12px;
}

.nav-btn
{
  background-color:#ffcf91;
  border-color:#acffed;
  border-radius: 12px;
}

.nav-btn:hover
{
  background-color:#ffb85b;
  border-color:#acffed;
  border-radius: 12px;
}

@media  only screen and (max-width: 770px) 
{
 .chara-nav
 {
  padding: 60px 50px;
  position: fixed;
  top: 0px;
  float: left;
 }
}

.chara-card-img-div
{
  background-color: #d2d8d8;
  border-radius: 25px;
}

.chara-card-body
{
  background-color: #a0eaff;
  border-radius: 25px;
}

.title-header2
{
  font-family: 'Cinzel Decorative', cursive;
  color: #f4fafc;
}

.drop-btn
{
  background-color: #f1f8ff;
  color: black;
  border-color: white;
}
